# Dependencies
.pnpm-store/
node_modules/
bun.lock
deno.json
deno.lock
yarn.lock

# Build Output
*.test-results/
*.tsbuildinfo
*.vite/
.cache/
.vite/
bin/
build/
dist/
out/

# Coverage
.nyc_output/
coverage/

# Logs
*.log
*.log.*
lerna-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Environment Files
.env*
!.env.example

# Editor Configs
*.code-workspace
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.zed/

# Miscellaneous
.DS_Store
Thumbs.db
