@import "tailwindcss";

@plugin "tailwindcss-react-aria-components" {
  prefix: rac;
}

:root {
  --base-100: oklch(100% 0 0);
  --base-200: oklch(97.466% 0.011 259.822);
  --base-300: oklch(93.268% 0.016 262.751);
  --base-content: oklch(41.886% 0.053 255.824);
  --primary: oklch(56.86% 0.255 257.57);
  --primary-content: oklch(91.372% 0.051 257.57);
  --secondary: oklch(42.551% 0.161 282.339);
  --secondary-content: oklch(88.51% 0.032 282.339);
  --accent: oklch(59.939% 0.191 335.171);
  --accent-content: oklch(11.988% 0.038 335.171);
  --neutral: oklch(19.616% 0.063 257.651);
  --neutral-content: oklch(83.923% 0.012 257.651);
  --info: oklch(88.127% 0.085 214.515);
  --info-content: oklch(17.625% 0.017 214.515);
  --success: oklch(80.494% 0.077 197.823);
  --success-content: oklch(16.098% 0.015 197.823);
  --warning: oklch(89.172% 0.045 71.47);
  --warning-content: oklch(17.834% 0.009 71.47);
  --error: oklch(73.092% 0.11 20.076);
  --error-content: oklch(14.618% 0.022 20.076);
}

/* TODO: Add dark theme */

@theme {
  --radius-box: 1rem; /* Border radius for boxes like card, modal, alert, etc */
  --radius-field: 0.5rem; /* Border radius for fields like input, select, tab, etc */
  --radius-selector: 1rem; /* Border radius for selectors like checkbox, toggle, badge, etc */
}

@theme inline {
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-content: var(--base-content);
  --color-primary: var(--primary);
  --color-primary-content: var(--primary-content);
  --color-secondary: var(--secondary);
  --color-secondary-content: var(--secondary-content);
  --color-accent: var(--accent);
  --color-accent-content: var(--accent-content);
  --color-neutral: var(--neutral);
  --color-neutral-content: var(--neutral-content);
  --color-info: var(--info);
  --color-info-content: var(--info-content);
  --color-success: var(--success);
  --color-success-content: var(--success-content);
  --color-warning: var(--warning);
  --color-warning-content: var(--warning-content);
  --color-error: var(--error);
  --color-error-content: var(--error-content);
}

@layer base {
  /* TODO: Add custom default font */

  html {
    @apply text-base-content bg-base-100;
  }

  :focus {
    @apply shadow-[0_0_0_1px_var(--primary)] outline-none;
  }
}
