.header {
  border-bottom: 1px solid var(--mantine-color-gray-3);

  @mixin dark {
    border-bottom-color: var(--mantine-color-dark-4);
  }
}

.footer {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: auto 1fr auto;
  grid-auto-flow: column;
  column-gap: var(--mantine-spacing-xs);
  align-items: center;
  border-top: 1px solid var(--mantine-color-gray-3);

  & > :first-child {
    grid-row: span 2;
  }

  @mixin dark {
    border-top-color: var(--mantine-color-dark-4);
  }
}
